@font-face {
  font-family: GothaProBla;
  src: url(../font/GothaProBla.otf)
}

@font-face {
  font-family: gotha-i;
  src: url(../font/GothaProBlaIta.otf)
}

@font-face {
  font-family: gotha;
  src: url(../font/GothaProReg.otf)
}

@font-face {
  font-family: gotha-l;
  src: url(../font/GothaProLig.otf)
}

#body {
  font-family: gotha;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {
  background-color: #efefef;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#search {
  font-family: gotha;
  float: right;
  width: 453px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  background-color: #efefef;
  font-size: 18px;
  font-weight: bolder;
}

input#search {
  background-image: url('../img/ser.svg');
  background-size: 28px;
  background-position: 10px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  text-indent: 45px;
  font-weight: bolder;
}

input#search:focus {
  background-image: none;
  text-indent: 0px;
  text-decoration: none;
}

#btn-search {
  float: right;
  width: 112px;
  height: 50px;
  margin-top: 15px;
  color: white;
  font-size: 20px;
  background-color: #B0936A;
}

#btn-search:hover {
  background: #c9a879;
  color: white;
  font-weight: bold;
}

.navbar {
  padding: 0%;
}

.lin-nav-footer {
  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 23px;
  width: 100%;
  margin: 0px;
}

.lin-nav {
  background-color: white;
  margin-left: 56px;
  z-index: 2;
}

.ln {
  color: whitesmoke;
  float: right;
  padding: 20px;
  padding-right: 46px;
  z-index: 1;
}

.ln:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(184, 184, 184, 0.151);
  border-radius: 20px 20px 20px 20px;
}

.ln-fd {
  background-color: rgb(34, 34, 34);
  border-radius: 0px 0px 20px 20px;
  margin-top: 3px;
}

.ln-d {
  font-size: 23px;
  color: whitesmoke;
  padding: 20px;
  width: 300px;
  border-radius: 20px 20px 20px 20px;
}

.ln-d:hover {
  background-color: rgba(184, 184, 184, 0.151);
  color: white;
  font-weight: bold;
}

.navigate {
  width: 100%;
  z-index: 3;
  margin: 0px 10px 0px 10px;
  padding: 0px 0px;
}

#bgVideo {
  min-height: 80%;
  max-height: 80%;
  width: 102%;
  z-index: 0;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-left: -5px;
}

#page-logo {
  min-height: 80%;
  max-height: 80%;
  margin: 0px 0px;
  margin-left: -5px;
  padding: 0px 0px;
  z-index: -1;
}

#page-logo img {
  width: 101.7%;
  z-index: -1;
}

.about {
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 700px;
  padding: 40px;
  padding-left: 80px;
  margin-top: -220px;
}

.about p {
  font: 40px Arial, sans-serif;
  font-weight: bolder;
}

.about-static {
  position: sticky;
  bottom: 0;
  color: #f1f1f1;
  width: 700px;
  padding: 40px;
  padding-left: 80px;
  margin-top: -160px;
}

.about-static p {
  font: 40px Arial, sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 260%;
  font-weight: bold;
}

#section-1 {
  background-color: #efefef;
}

#section-2 {
  background-color: #efefef;
  font-size: 19px;
}

#section-3 {
  background-color: white;
  padding: 80px;
  padding-top: 130px;
}

.content-section {
  background-color: white;
  margin-top: -2.5%;
  margin-left: -5px;
  width: 102%;
  font-size: 90%;
}

.card {
  background-color: #efefef;
  border: none;
}

.card-body-2 {
  background-color: white;
  font-size: 90%;
  padding-left: 6%;
}

.card-title {
  color: #B0936A;
  font-family: GothaProBla;
  white-space: nowrap;
  background-color: #efefef;
  font-size: 285%;
}

.card-title-2 {
  font-size: 200%;
}

.card-text {
  font-size: 130%;
  white-space: nowrap;
}

.card-fut {
  padding-top: 70px;
  padding-left: 96px;
}

.info {
  padding-top: 90px;
  background-color: #efefef;
}

.btn-fnd {
  float: left;
  padding-top: 15px;
  padding-left: 30px;
}

.btn-fnd :hover {
  color: white;
  font-weight: bold;
}

.btn-default {
  font-family: gotha;
  font-size: 20px;
  font-weight: bold;
  width: 240px;
  height: 50px;
  border-radius: 0%;
  background: #B0936A;
  transition: transform .07s ease;
  color: whitesmoke;
  margin-left: 4%;
  margin-top: -20px;
}

.btn-default:active {
  background: #dbb785;
  transform: scale(0.95);
  color: white;
}

.btn-default:focus {
  background: #c9a879;
  color: white;
}

.brand {
  margin-left: 110px;
}

.footer {
  background-color: black;
  color: whitesmoke;
  font-family: gotha;
  padding-top: 50px;
  padding-left: 0%;
  padding-bottom: 60px;
  font-size: 80%;
}

.copyryght {
  background-color: black;
  color: rgb(124, 124, 124);
  font-family: gotha;
  padding-left: 2%;
  padding-bottom: 50px;
  white-space: nowrap;
  font-size: 60%;
}